body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 12px;
  line-height: 20px;
}
h1 {
  margin: 0px 0px 12px;
  font-family:'Open Sans', sans-serif;
  font-size: 48px;
  line-height: 60px;
  font-weight: 700;
  letter-spacing: -1px;
}
h2 {
  margin: 10px 0px;
  font-family:'Open Sans', sans-serif;
  font-size: 26px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  margin: 0px 0px 20px;
  font-family: Georgia, serif;
  color: #333;
  font-size: 32px;
  line-height: 40px;
  font-style: italic;
  font-weight: 400;
}
h4 {
  margin: 10px 0px 0px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin: 0px;
  padding-bottom: 28px;
  border-bottom: 1px solid #ccc;
  font-family: Georgia, serif;
  color: #666;
  font-size: 14px;
  line-height: 20px;
  font-style: italic;
  font-weight: 400;
  text-decoration: none;
}
h6 {
  margin: 10px 0px;
  font-family:'Open Sans', sans-serif;
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}
p {
  margin-bottom: 20px;
  font-family: Georgia, serif;
  font-size: 18px;
  line-height: 29px;
}
.button {
  display: inline-block;
  margin-top: 5px;
  padding: 4px 15px;
  border-radius: 4px;
  background-color: #333;
  opacity: 0.26;
  color: white;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}
.button:hover {
  opacity: 1;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.section {
  height: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  border-top: 0px none white;
  background-color: #e5e5e5;
  background-image: none;
}
.section.head {
  height: 160px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-top-style: none;
  border-top-width: 0px;
  background-color: white;
  background-image: url('../images/head10.jpg');
  background-position: 50% 0px;
  background-repeat: repeat-x;
  background-attachment: fixed;
  opacity: 1;
}
.sidebar {
  height: auto;
  padding: 52px 45px 52px 0px;
  background-color: transparent;
  text-align: right;
}
.textpage {
  height: auto;
  padding: 52px;
  border: 1px solid #d8d8d8;
  background-color: #fbfbfb;
}
.page {
  height: auto;
}
.page1 {
  border: 0px none black;
}
.quote {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 50px;
  border-left: 1px solid #666;
  font-family: Georgia, serif;
  color: #666;
  font-size: 24px;
  line-height: 34px;
  font-style: italic;
}
.header {
  margin-top: 20px;
}
.about-me {
  margin-top: 20px;
  padding-left: 147px;
  text-align: right;
}
.social-icons {
  opacity: 0.5;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.social-icons:hover {
  opacity: 1;
}
.about-me-text {
  opacity: 0.7;
  font-family:'Open Sans', sans-serif;
  color: white;
  font-size: 12px;
  line-height: 18px;
}
.social-icons-bar {
  padding-top: 4px;
}
.date {
  margin-top: 25px;
  font-size: 14px;
}
.post-icon {
  padding-bottom: 10px;
}
.down-post {
  margin-top: 25px;
  opacity: 0.4;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.down-post:hover {
  opacity: 1;
}
.move-up-down {
  margin-top: 52px;
  text-align: center;
}
.up-page {
  margin-top: 25px;
  opacity: 0.4;
}
.up-page:hover {
  opacity: 1;
}
.top-link-bar {
  margin-top: 22px;
  text-align: right;
}
.media {
  margin-bottom: 40px;
}
.left-button {
  margin-top: 12px;
  text-align: left;
}
.go-top {
  opacity: 0.4;
}
.go-top:hover {
  opacity: 1;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.footer {
  padding: 15px;
  border-top: 1px solid white;
  background-color: #333;
  background-image: none;
}
.footer-text {
  color: #666;
}
.media-link {
  max-width: 100%;
}
.aspect-video {
  position: relative;
  height: 0px;
  padding-bottom: 56.25%;
}
@media (max-width: 991px) {
  h1 {
    font-size: 43px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 28px;
  }
  p {
    font-size: 16px;
  }
  .section {
    padding: 30px;
  }
  .quote {
    font-size: 21px;
  }
  .header {
    margin-left: 0px;
  }
  .about-me {
    padding-left: 0px;
  }
  .social-icons-bar {
    padding-left: 0px;
  }
  .about-me-mbile {
    padding-left: 0px;
  }
}
@media (max-width: 767px) {
  h6 {
    color: #333;
    font-weight: 700;
    text-align: left;
  }
  .section.first {
    margin-top: 201px;
  }
  .sidebar {
    padding-top: 20px;
    padding-right: 0px;
    padding-bottom: 20px;
    text-align: center;
  }
  .header {
    text-align: center;
  }
  .about-me {
    margin-top: 0px;
  }
  .social-icons {
    opacity: 0.8;
  }
  .about-me-text {
    margin-bottom: 14px;
    padding-left: 0px;
    color: #333;
    text-align: left;
  }
  .social-icons-bar {
    padding-top: 6px;
    background-color: transparent;
    text-align: left;
  }
  .left-button {
    padding-bottom: 40px;
    text-align: center;
  }
  .about-me-mbile {
    margin-top: 50px;
  }
  .social-link {
    margin-right: 6px;
    padding: 2px 4px;
    background-color: rgba(0, 0, 0, 0.27);
  }
}
@media (max-width: 479px) {
  h1 {
    font-size: 32px;
    line-height: 40px;
  }
  h2 {
    font-size: 16px;
  }
  h3 {
    font-size: 18px;
    line-height: 25px;
  }
  h6 {
    color: #333;
    font-weight: 700;
  }
  p {
    font-size: 14px;
    line-height: 24px;
  }
  .section {
    padding-right: 15px;
    padding-left: 15px;
  }
  .sidebar {
    padding-right: 0px;
  }
  .textpage {
    padding: 15px;
  }
  .quote {
    font-size: 16px;
    line-height: 24px;
  }
  .about-me-text {
    color: #333;
    font-weight: 600;
  }
  .social-icons-bar {
    padding-bottom: 6px;
  }
  .left-button {
    margin-bottom: 25px;
    text-align: center;
  }
  .about-me-mbile {
    margin-top: 39px;
  }
}