body{
  background-color: #1a1d26;
  font-family: 'Merriweather', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #9ca7aa;
}
h1{
  font-weight: 700;
  font-size: 38px;
  line-height: 50px;
  color: #e9fafe;
  margin-bottom: 28px;
}
p{

}
.wrap{
  width: 520px;
  margin: 93px auto;
  position: relative;
}
a{
  color: #c9d0d1;
  border-bottom: 1px solid #373a45;
  text-decoration: none;
  transition-duration: 0.1s;
}
a:hover{
  border-color: #c9d0d1;
  cursor: auto;
}

.test .wrap{
  display: none;
}
.test .dummy{
  display: block;
}
.live .dummy{
  display: none;
}