/********* Stephan Conzen *********/

/********* Helper *********/

@import url("holyshit.css");

/********* General *********/
body{
	background-color: #111;

}
.jumbotron{
	background: none;
}
.hide{
	display: none;
}
/********* Header *********/

.header{
	background: url(img/banner.jpg) top center;
	height: 451px;
	color: rgba(255,255,255,0.7);
	padding-top:0;
	padding-bottom: 0;
	margin-bottom: 0;
}
.header h1{
	margin-bottom: 20px;
}
h1 small{
	color: rgba(255,255,255,0.9);
	white-space: nowrap;
}

/********* Projects *********/

#projects{
	box-shadow: 0 0 10px #333;
	amargin-top: 500px;
	background: #FAFAFA;
	position: relative;
}
#projects h3{
	margin-top: 0;
}

/********* Footer *********/

.footer{
	text-align: center;
	margin: 0;
	background: #f0f0f0;
	padding: 30px 0px;
}
.footer p{
	margin: 0;
}
.footer a{
	margin: 0 5px;
}
.footer a:first-child{
	margin: 0 5px 0 0;
}
.footer a:last-child{
	margin: 0 0 0 5px;
}
.footer .fa-github{color: #171515;}
.footer .fa-twitter{color: #55ACEE;}
.footer .fa-linkedin{color: #4875B4;}
.footer .fa-instagram{color: #4E433C;}
.footer .fa-html5{color: #E34C26;}

@media (max-width: 480px){
	h1 small{
		display: none;
	}
	.header{
		height: auto;
		z-index:100;
		overflow: hidden;
	}
}