@font-face{font-family:'Merriweather';font-style:normal;font-weight:400;src:local('Merriweather'),url(http://themes.googleusercontent.com/static/fonts/merriweather/v5/RFda8w1V0eDZheqfcyQ4EKRDOzjiPcYnFooOUGCOsRk.woff) format('woff')}@font-face{font-family:'Merriweather';font-style:normal;font-weight:700;src:local('Merriweather Bold'),local('Merriweather-Bold'),url(http://themes.googleusercontent.com/static/fonts/merriweather/v5/ZvcMqxEwPfh2qDWBPxn6nhAPw1J91axKNXP_-QX9CC8.woff) format('woff')}

html,body {margin: 0;padding: 0;}
body {font-family: 'Merriweather', sans-serif;font-size: 20px;font-weight: 400;line-height: 30px;}
h2 {font-weight: 700;font-size: 38px;line-height: 50px;margin-bottom: 28px;}
p {margin: 0;}
a {border-bottom: 1px solid;text-decoration: none;transition-duration: 0.1s;}
section {width: 100%;height: 100%;float: left;}
.content {width: 520px;margin: 93px auto;position: relative;}
body.dark {background-color: #1a1d26;color: #9ca7aa;}
body.dark h2 {color: #e9fafe;}
body.dark a {color: #c9d0d1;border-color: #373a45;}
body.dark a:hover {border-color: #c9d0d1;}
body.light {background-color: #2e4151;color: #a2bacc;}
body.light h2 {color: #cde3f2;}
body.light a {color: #cde3f2;border-color: rgba(162, 185, 204, 0.25);}
body.light a:hover {border-color: #cde3f2;}

@media (max-width: 600px) {
    body {font-size: 18px;line-height: 28px;}
    h2 {font-size: 28px;line-height: 38px;}
 	.content {width: 220px;margin: 60px auto;}  
}

.macbook{
	background: url(macbook.png) no-repeat;
	width: 914px;
	height: 482px;
	position: absolute;
	top: 0;
}
.macbook .site{
	
	height: 20px;
	width: 20px;
	position: absolute;
	top: 30px;
	left: 157px;
	height: 375px;
	width: 600px;
}