/********* Stephan Conzen *********/

/********* General *********/
body{
	background-color: #111;

}
.jumbotron{
	background: none;
}
.hide{
	display: none;
}
/********* Header *********/

.header{
	background: url(img/banner.jpg) top center;
	height: 500px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	box-shadow: 0 0 10px #333 inset;
	color: rgba(255,255,255,0.7);
	padding-top:0;
	padding-bottom: 0;
}
.header h1{
	margin-bottom: 20px;
}
h1 small{
	color: rgba(255,255,255,0.9);
	white-space: nowrap;
}
.header.sticky{
	height: auto;
	z-index:100;
	overflow: hidden;
}

/********* Projects *********/

#projects{
	box-shadow: 0 0 10px #333;
	margin-top: 500px;
	background: #FAFAFA;
	position: relative;
}
#projects h3{
	margin-top: 0;
}

/********* Footer *********/

.footer{
	text-align: center;
	margin: 0;
	background: #f0f0f0;
	padding: 30px 0px;
}
.footer p{
	margin: 0;
}
.footer a{
	margin: 0 10px;
}
.footer .fa-github{color: #171515;}
.footer .fa-twitter{color: #55ACEE;}
.footer .fa-linkedin{color: #4875B4;}
.footer .fa-instagram{color: #4E433C;}

@font-face {
    font-family:'medium-icons';
    src:url("https://s3.amazonaws.com/medium-static/_/fp/fonts/medium-icons.RKi6ejayKSZJh0OTshbkRg.eot");
    src:url("https://s3.amazonaws.com/medium-static/_/fp/fonts/medium-icons.RKi6ejayKSZJh0OTshbkRg.eot?#iefix") format("embedded-opentype"),
    url("https://s3.amazonaws.com/medium-static/_/fp/fonts/medium-icons.0qVySHWi3WfG-NkYbdM9ng.woff") format("woff"),
    url("https://s3.amazonaws.com/medium-static/_/fp/fonts/medium-icons.mLsoGQwSP5s8oeib362mtQ.ttf") format("truetype"),
    url("https://s3.amazonaws.com/medium-static/_/fp/fonts/medium-icons.YXqW0c1ibQa2SAL9POl_bw.svg?#medium-icons") format("svg");
    font-weight:normal;font-style:normal; }
.fa-medium:before {
    content: "\f12a";
    font-family: 'medium-icons';
    font-weight: normal;
    font-style: normal;
    speak: none;
    text-decoration: none;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-size: 1em;
    position: relative;
    bottom:-0.15em;
    color: #111;
}

@media (max-width: 480px){
	h1 small{
		font-size: 49%;
	}
	.header{
		height: auto;
		z-index:100;
		overflow: hidden;
	}
	#projects{
		margin-top: 79px;
	}
}