<div class="jumbotron footer">
  <div class="container">
    <div class="row">
	  <div class="col-xs-12">
	    <p>
	    	<a href="http://github.com/sconzen"><i class="fa fa-github fa-2x"></i></a>
	    	<a href="http://twitter.com/sconzen"><i class="fa fa-twitter fa-2x"></i></a>
	    	<a href="http://ca.linkedin.com/in/sconzen/"><i class="fa fa-linkedin fa-2x"></i></a>
	    	<a href="http://instagram.com/sconzen"><i class="fa fa-instagram fa-2x"></i></a>
	    	<a href="http://validator.w3.org/check?uri=http%3A%2F%2Fsconzen.github.io%2F;ss=1"><i class="fa fa-html5 fa-2x"></i></a>
	    </p>
	  </div>
	</div>
  </div>
</div>
<script src="{{ site.url }}/lib/js/jquery.js"></script>
<script src='{{ site.url }}/lib/js/scrollReveal.js'></script>
<script src="{{ site.url }}/lib/js/scripts.js"></script>