<div class="jumbotron header">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 logo">
        <a href="http://sconzen.github.io">
          <h1 id="logo">Stephan</h1>
        </a>
      </div>
      <div class="col-xs-6 menu">
        <a href="http://sconzen.github.io/blog">Blog</a>
        <a href="http://sconzen.github.io/about">About</a>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron banner">
	<div class="container">
		<div id="bannerText">
			<h1 class="hide"><a href="http://sconzen.github.io">Stephan</a> <small>Front-end Developer</small></h1>
      <h1>{{ page.title }}</h1>
		</div>
		<div class="alert alert-danger broken hide"><strong>Oh snap!</strong> Somethings broken... Refresh or try again later.</div>
	</div>
</div>