
	<div class="container">
		<a href="http://sconzen.github.io"><h1>Stephan <small>Front-end Developer</small></h1></a>
		<a href="http://sconzen.github.io/blog"><h1>blog</h1></a>
	</div>


<div class="jumbotron header">
	<div class="container">
		<div id="bannerText">
			<h1 class="hide">Stephan <small>Front-end Developer</small></h1>
			<h1>&nbsp;</h1>
		</div>
		<div class="alert alert-danger broken hide"><strong>Oh snap!</strong> Somethings broken... Refresh or try again later.</div>
	</div>
</div>