<!-- <meta name="author" content="Stephan Conzen">
<meta name="description" content="Web Portfolio and collection of stuff I've done. Includes solo and team projects, web applications, sites, portfolios and Google Chrome extensions.">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="sconzen">
<meta name="twitter:title" content="Stephan Conzen">
<meta name="twitter:description" content="Web Portfolio and collection of stuff I've done. Includes solo and team projects, web applications, sites, portfolios and Google Chrome extensions.">
<meta name="twitter:creator" content="sconzen">
<meta name="twitter:image:src" content="http://sconzen.github.io/img/me.jpg">
<meta name="twitter:domain" content="http://sconzen.github.io">
<meta property="og:type" content="website">
<meta property="og:title" content="Stephan Conzen">
<meta property="og:site_name" content="Stephan Conzen">
<meta property="og:url" content="http://sconzen.github.io/">
<meta property="og:description" content="Web Portfolio and collection of stuff I've done. Includes solo and team projects, web applications, sites, portfolios and Google Chrome extensions.">
<meta property="og:image" content="http://sconzen.github.io/img/me.jpg"> -->


<!-- <link href="http://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet" type="text/css"> -->
<!-- <link href="{{ site.url }}/lib/css/styles.css" rel="stylesheet"> -->


<title>Alpha by HTML5 UP</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
<script src="{{ site.url }}/lib/js/jquery.min.js"></script>
<script src="{{ site.url }}/lib/js/jquery.dropotron.min.js"></script>
<script src="{{ site.url }}/lib/js/jquery.scrollgress.min.js"></script>
<script src="{{ site.url }}/lib/js/skel.min.js"></script>
<script src="{{ site.url }}/lib/js/skel-layers.min.js"></script>
<script src="{{ site.url }}/lib/js/init.js"></script>
<noscript>
	<link rel="stylesheet" href="{{ site.url }}/lib/css/skel.css" />
	<link rel="stylesheet" href="{{ site.url }}/lib/css/style.css" />
	<link rel="stylesheet" href="{{ site.url }}/lib/css/style-wide.css" />
</noscript>
<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->