<meta name="author" content="Stephan Conzen">
<meta name="description" content="Web Portfolio and collection of stuff I've done. Includes solo and team projects, web applications, sites, portfolios and Google Chrome extensions.">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="sconzen">
<meta name="twitter:title" content="Stephan Conzen">
<meta name="twitter:description" content="Web Portfolio and collection of stuff I've done. Includes solo and team projects, web applications, sites, portfolios and Google Chrome extensions.">
<meta name="twitter:creator" content="sconzen">
<meta name="twitter:image:src" content="http://sconzen.github.io/img/me.jpg">
<meta name="twitter:domain" content="http://sconzen.github.io">
<meta property="og:type" content="website">
<meta property="og:title" content="Stephan Conzen">
<meta property="og:site_name" content="Stephan Conzen">
<meta property="og:url" content="http://sconzen.github.io/">
<meta property="og:description" content="Web Portfolio and collection of stuff I've done. Includes solo and team projects, web applications, sites, portfolios and Google Chrome extensions.">
<meta property="og:image" content="http://sconzen.github.io/img/me.jpg">
<link href="{{ site.url }}/lib/css/styles.css" rel="stylesheet">