body{
	background: #f8f8f8;
	margin: 0;
}
#galleryDrive{
	width: 100%;
	max-width: 1024px;
	margin: auto;
}
#galleryDrive a{
	display: inline-block;
}

#galleryDrive img, #galleryDrive video, #galleryDrive a.download{
	width: 100%;
	border: 20px solid white;
	box-shadow: 2px 2px 5px #ccc;
	margin-bottom: 15px;
	margin-top: 15px;
	box-sizing: border-box;
}
#galleryDrive a.download img{
	width: auto;
	border: 0;
	box-shadow: none;
	margin: 20px auto;
	display: block;
} 