<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{ page.title }}</title>
		{% include meta.html %}
		<link href="styles.css" rel="stylesheet">
	</head>
	<body id="blog">
		{% include header.html %}
		<div id="projects">
			{% for item in site.posts %}
					{% if item.type == 'blog' %}
						<div class="jumbotron">
							<div class="container">
								<div class="row">
									<div class="col-xs-12 col-md-6 col-md-offset-3">
										<a href="#" class="thumbnail">
											<h3>{{ item.title }}</h3>
											<img src="img/{{ item.img }}" alt="{{ item.title }}" />
											{{ item.excerpt }}
										</a>
									</div>
								</div>
							</div>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
		{% include footer.html %}
		<script src="lib/js/jquery.js"></script>
		<script src="scripts.js"></script>
	</body>
</html>