<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{ page.title }}</title>
		{% include meta.html %}
		<link href="styles.css" rel="stylesheet">
	</head>
	<body>
		{% include header.html %}
		<div id="projects">
			<ul>
			{% for item in site.posts.blog %}
			 	{% if item.type == 'blog' %}
					<li>{{ item.title }}</li>
				{% endif %}
			{% endfor %}
			</ul>
		</div>
		{% include footer.html %}
		<script src="lib/js/jquery.js"></script>
		<script src="scripts.js"></script>
	</body>
</html>