<html lang=en>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="http://sconzen.github.io/css/mnmlist.css" type="text/css" media="screen, print" />
		<link rel="shortcut icon" href="favicon.png">
		<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	</head>
	<body>
		<div id="container">
			<div id="content">

				{{content}}

			</div>
			<div id="footer">
				<p>
					<a href="#">more</a> :: 
					<a href="http://mnmlist.com/uncopyright/">uncopyright</a> :: 
					<a href="#">feed</a> :: 
					<a href="http://sconzen.github.io/less.html">less</a>
				</p>
			</div>
		</div>
	</body>
</html>
