<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{ page.title }}</title>
		
		<link href="styles.css" rel="stylesheet">

	</head>
	<body>
		<div id="projects">
		  {% for post in site.posts %}
			<div class="jumbotron inno">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-md-3">
							<a href="{{ post.url }}" class="thumbnail">
    							<img src="{{ post.image }}" alt="{{ post.title }}">
    						</a>
    					</div>
						<div class="col-xs-12 col-md-9">
							<h3>{{ post.title }}</h3>
							<p>{{ post.testvar }}</p>
						</div>
					</div>
				</div>
			</div>
		  {% endfor %}
		</div>
	</body>
</html>