<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{{ page.title }}</title>
		{% include meta.html %}
		{% include ga.html %}
	</head>
	<body id="home">
		{% include header.html %}
		<div id="projects">{% for item in site.posts %}{% if item.type != 'blog' %}{% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}{% if thecycle == 'odd' %}
		    <div data-scroll-reveal class="jumbotron {{ item.group }}">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-md-4">
							<a href="http://{{ item.link }}" class="thumbnail">
    							<img src="https://googledrive.com/host/0BxjvFCbJpltvbDRyZUZZYXBCa2s/{{ item.img }}" alt="{{ item.title }}">
    						</a>
    					</div>
						<div class="col-xs-12 col-md-8">
							<h2>{{ item.title }}</h2>
							<p>{{ item.description }}</p>
						</div>
					</div>
				</div>
			</div>{% else %}
			<div data-scroll-reveal class="jumbotron {{ item.group }}">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-md-4 col-md-push-8">
							<a href="http://{{ item.link }}" class="thumbnail">
    							<img src="https://googledrive.com/host/0BxjvFCbJpltvbDRyZUZZYXBCa2s/{{ item.img }}" alt="{{ item.title }}">
    						</a>
    					</div>
    					<div class="col-xs-12 col-md-8 col-md-pull-4">
							<h2>{{ item.title }}</h2>
							<p>{{ item.description }}{{ item.excerpt }}</p>
						</div>
					</div>
				</div>
			</div>{% endif %}{% endif %}{% endfor %}
		</div>
		{% include footer.html %}
	</body>
</html>