<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{{ page.title }}</title>
		{% include meta.html %}
	</head>
	<body>

		<iframe src="http://www.twitch.tv/foongai/embed" frameborder="0" scrolling="no" height="378" width="620"></iframe><a href="http://www.twitch.tv/foongai?tt_medium=live_embed&tt_content=text_link" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px;text-decoration:underline;">Watch live video from foongai on www.twitch.tv</a>
		
		{ content }
		
	</body>
</html>