<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{ page.title }}</title>
		{% include meta.html %}
	</head>
	<body id="post">
		{% include header.html %}
		<div id="projects">
			<div class="jumbotron">
				<div class="container">
					<img src="https://googledrive.com/host/0BxjvFCbJpltvbDRyZUZZYXBCa2s/food1.jpg" alt="food1"/>
					<img src="https://googledrive.com/host/0BxjvFCbJpltvbDRyZUZZYXBCa2s/food2.jpg" alt="food1"/>
				</div>
			</div>
		</div>
		{% include footer.html %}
	</body>
</html>