<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{ page.title }}</title>
		{% include meta.html %}
	</head>
	<body id="images">
		<div id="projects">
			<div class="jumbotron">
				<div class="container">
					<img src="https://googledrive.com/host/0BxjvFCbJpltvbDRyZUZZYXBCa2s/food1.jpg" alt="food1"/>
					<img src="https://googledrive.com/host/0BxjvFCbJpltvbDRyZUZZYXBCa2s/kitty.jpg" alt="kitty"/>
					<img src="https://googledrive.com/host/0BxjvFCbJpltvbDRyZUZZYXBCa2s/sorry.jpg" alt="sorry"/>
					<img src="https://googledrive.com/host/0BxjvFCbJpltvbDRyZUZZYXBCa2s/rob.png" alt="rob"/>
				</div>
			</div>
		</div>
	</body>
</html>