<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ page.title }}</title>
		{% include meta.html %}
	</head>
	<body>
		<div class="wrapper">
			{% include header.html %}
			<section id="main">
			{{ content }}
			<hr/>
				<h2><a href="#">hello2</a></h2>
				<p>Hubot is a chat robot for [most popular chat networks](https://github.com/github/hubot/blob/master/docs/adapters.md).</p><hr/>
				<h2><a href="#">hello2</a></h2>
				<p>Hubot is a chat robot for [most popular chat networks](https://github.com/github/hubot/blob/master/docs/adapters.md).</p><hr/>
				<h2><a href="#">hello2</a></h2>
				<p>Hubot is a chat robot for [most popular chat networks](https://github.com/github/hubot/blob/master/docs/adapters.md).</p><hr/>
			</section>
			{% include footer.html %}
		</div>
	</body>
</html>
