<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{ page.title }}</title>
		{% include meta.html %}
	</head>
	<body id="post">
		{% include header.html %}
		<div id="projects">
			<div class="jumbotron">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-md-6 col-md-offset-3">
							<h2>{{ page.title }}</h2>
							{% if page.img %}
								<p><img src="{{ site.url }}/img/blog/{{ page.img }}" alt="{{ page.title }}" /></p>
							{% endif %}
							{% if page.vimeo %}
								<iframe src="//player.vimeo.com/video/{{ page.vimeo }}?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							{% endif %}
							{% if page.youtube %}
								<p><img src="{{ site.url }}/img/blog/{{ page.img }}" alt="{{ page.title }}" /></p>
							{% endif %}
							{{ content }}
							<br/>
							{% include disqus.html %}
						</div>
					</div>
				</div>
			</div>
		</div>
		{% include footer.html %}
		{% include ga.html %}
	</body>
</html>