<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{ page.title }}</title>
		{% include meta.html %}
	</head>
	<body id="post">
		{% include header.html %}
		<div id="projects">
			<div class="jumbotron">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-md-6 col-md-offset-3">
							<h2>{{ page.title }}</h2>
							{% if page.img %}
								<p><img src="{{ site.url }}/img/blog/{{ page.img }}" alt="{{ page.title }}" /></p>
							{% endif %}
							{{ content }}
							<br/>
							{% include disqus.html %}
						</div>
					</div>
				</div>
			</div>
		</div>
		{% include footer.html %}
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-41546843-1', 'sconzen.github.io');
		  ga('send', 'pageview');

		</script>
	</body>
</html>